doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title #{config.name}
    link(href="/style" rel="stylesheet")
  body
    h1 #{config.name} #{config.version}
    main
      h2 リクエストヘッダ
      div
        each value, key in headers
          div
            code
              strong #{key}
            code #{value}
